<div>
  <h1>Lista de Usuarios</h1>
  <ul>
    {{#each users}}
      <div>
        <img src="/static/{{pathImage}}" alt="avatar" width="50px" />
        <li>{{first_name}} {{last_name}} {{email}}</li>
        <button class="delete-button" data-email="{{email}}">Deletar</button>
        <button
          class="edit-button"
          data-email="{{email}}"
          data-id="{{_id}}"
        >Editar</button>
      </div>
    {{/each}}
  </ul>
  <script>
    console.log("PASSOU PELO LIST.HANDLEBARS SCRIPT") console.log("list page");
    const deleteButtons = document.querySelectorAll('.delete-button'); const
    editButtons = document.querySelectorAll('.edit-button');
    deleteButtons.forEach(button => { button.addEventListener('click', async ()
    => { const userEmail = button.getAttribute('data-email'); await
    deleteUsuario(userEmail); }); }); editButtons.forEach(button => {
    button.addEventListener('click', async () => { const userId =
    button.getAttribute('data-id'); console.log('userId', userId);
    window.location.href = `/edit/${userId}`; }); }); async function
    deleteUsuario(email) { try { const response = await fetch(`/user/${email}`,
    { method: 'DELETE', headers: { 'Content-Type': 'application/json', }, }); if
    (response.ok) { console.log(`Usuário com email ${email} deletado com
    sucesso.`); window.location.href = `/userDeleted/${email}`; } else {
    console.error(`Erro ao excluir usuário. Status: ${response.status}`); } }
    catch (error) { console.error('Erro na solicitação de exclusão:', error); }
    }
  </script>
</div>